body {
    margin: 0;
    padding: 0;
  
    height: 100vh;
    width: 100vw;
  
    background-color: beige;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #screen {

    height: 60em;
    width: 80em;

    border-radius: 0.4em;
}

.basicScreen {
    background-color: black;
    
}

#remote {

    height: 25em;
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 0.9em;

    background-color: rgb(47, 46, 40);

    margin-left: 10em;
}

.button {

    height: 2em;
    width: 2em; 
    border-radius: 50%;

    background-color: red;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover{
    transition: 0.2s;
    background-color: darkred;
}

.canal1 {
    background-color: aqua;
}

.canal2 {
    background-color: purple;
}

.canal3 {
    background-color: greenyellow;
}

.canal4 {
    background-color: gold;
}

.canal5{
    background-color: rgb(234, 4, 73);
}

.canal6{
    background-color: lightsalmon;
}

.onOff{
    background-color:grey;
}
 