body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
}


#screen {
    position: relative;
    height: 45em;
    width: 80em;
    margin-top: 30%;
    border-radius: 0.4em;
    justify-content: center;
    margin-bottom: 30%;
    border: solid 1.5em black;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px,
        rgba(0, 0, 0, 0.2) 0px 8px 10px 0px inset;


}

/* canal-numero: modificaciones para que salga el numerito en la pantalla */
.canal-numero {
    color: white;
    font-size: 3em;
    position: absolute;
    bottom: 20px;
    right: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.basicScreen {
    background-color: rgb(95, 91, 111);
}

#remote {
    height: 25em;
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.9em;
    background-color: rgb(47, 46, 40);

    position: relative;
    margin-left: 5%;
}

/* cambiar color de btn y dar algo de estilo */
.btn {
    height: 2em;
    width: 2em;
    border-radius: 50%;

    background-color: red;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12% 12% 10px 12%;
}

.remote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* tengo otra id arriba, igual podría poner todas estas movidas dentro de la misma */
#remote {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: radial-gradient(circle, #0c0d12, #32405a);
}

#onOff {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 2em;
    border-radius: 50%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

#onOff:hover {
    transition: 0.2s;
    background-color: darkred;
}

.btn:hover {
    transition: 0.2s;
    background-color: darkred;
}

.onOff {
    background-color: grey;
}

.off {
    background-color: rgb(7, 7, 7);
    /* O podrías usar display: none; para "apagar" la pantalla (RES) */
}

.canal1 {
    background-image: url('../img/canal-2-jaggerprincesa.jpg');
}

.canal2 {
    background-image: url('../img/canal-2-sailormoon.jpeg');
}

.canal3 {
    background-image: url('../img/canal-3-lhorafosca.jpg');
}

.canal4 {
    background-image: url('../img/first-dates-jorge.webp');
}

.canal5 {
    background-image: url('../img/canal-5-shinchan.jpg');
}

.canal6 {
    background-image: url('../img/canal-6-canalplus.jpg');
}

.canal1,
.canal2,
.canal3,
.canal4,
.canal5,
.canal6 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}