body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {

    height: 45em;
    width: 80em;
    margin-top: 30%;
    border-radius: 0.4em;
    justify-content:center;
    margin-bottom: 30%;
    box-shadow: rgba(83, 53, 206, 0.1) 0px 2px 4px;
}

.basicScreen {
    background-color: black;
}

#remote {

    height: 25em;
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.9em;

    background-color: rgb(47, 46, 40);

    position:relative;
    margin-left: 5%;
}

.btn {

    height: 2em;
    width: 2em;
    border-radius: 50%;

    background-color: red;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    
}

.btn-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.btn-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 12% 12% 10px 12%;
    
}

.remote{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#remote{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#onOff{
 position:absolute;
 top:10px;
 right: 10px;
 height: 2em;
 border-radius: 50%;
 background-color: red;
 color: white;
 display:flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: 0.2s;
    
}
#onOff:hover{
    transition: 0.2s;
    background-color:darkred ;
}
.btn:hover {
    transition: 0.2s;
    background-color: darkred;
}

.canal1 {
    background-color: aqua;
}

.canal2 {
    background-color: purple;
}

.canal3 {
    background-color: greenyellow;
}

.canal4 {
    background-color: gold;
}

.canal5 {
    background-color: rgb(234, 4, 73);
}

.canal6 {
    background-color: lightsalmon;
}

.onOff {
    background-color: grey;
}